html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    background-color: #f6f6f6;
}
body, div {
	font-size: 1.2rem;
}

#page {
	font-size: 1.6rem;
}

#page .timeline div {
	display: inline-block;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: #666;
	color: #fff;
	padding: 0.5rem;
}

#page .channel {
	height: 224px;
	white-space: nowrap;
	overflow: auto;
	border-bottom: 1px solid #ccc;
}

#page h2 {
	margin-left: 2rem;
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
}

#page .channel .programmes {
	position: relative;
	width: 100%;
	background-color: #eee;
}

#page .channel .programme {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 1rem;
	height: 200px;
	background-color: #fff;
	font-size: 1.2rem;
}
#page .channel .programmes:first-child {
	border-left: 1px solid #fff;
}
#page .channel .programme:last-child {
	border-right: 1px solid #ccc;
}
#page .channel .programme.current {
	background-color: #ffdd8f;
}
#page .channel .programme.reveal {
	z-index: 10000;
	width: auto !important;
}
#page .channel .programme .timeslot {
	color: #999;
}
#page .channel .programme a {
	font-weight: bold;
	color: #333;
}
#page .channel .programme .meta {
	margin-top: 0.5rem;
}

#page .channel .programme img {
	margin-top: 1rem;
	border-radius: 4px;
}